body{
  text-align: center;
  background-color: #94DAFF;
  font-family: Arial, Helvetica, sans-serif;
}

img{
  position: absolute;
  left: 10px;
  top: 10px;
}

#source{
  top: 50px;
}


#inputDiv {
    width: 40%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#resultsDiv{
  display: none;
  text-align: center;
  width: 40%;
   margin-left: auto;
  margin-right: auto;
}
table { 
  width: 100%; 
}

table, th, td { 
  border: solid 2px #000;
  border-collapse: collapse; 
  padding: 2px 3px; 
  text-align: left;
  margin: 10px;
}

td#question {
    width: 30%;
    border-radius: 0px;
    font-size: 15px;
}

th {
    text-align: center;
}

td {
    width: 12%;
    text-align: center;
}

tr:nth-child(even) {
  background: #94B3FD
}

tr:last-child { 
  font-weight: bold;
}

#question{
 font-size: 20px;
 font-weight: bold;
 background: #94B3FD;
 padding: 4px;
 border-radius: 20px;
}



#key{
 margin: 15px;
}


#listDiv {
    text-align: center;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}

div.link:hover {
    background-color: #99FEFF;
}

a {
text-decoration: none;
}

div.link {
    font-size: 30px;
    line-height: 1.6;
    letter-spacing: 1px;
    background-color: #94B3FD;
    border: 1px solid black; /* Green border */
    border-collapse: collapse;
   
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    
}
